.cta-content {
    font-size: 2rem;
    color: white;
    font-family: quatro, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
/* width: 65%; */
    line-height: 1.5;
}




.cta-content .one p {
    padding-bottom: 2rem;
}

.cta-content .three p {
    padding-bottom: 0;
}