/* =========================================================== */
/* !CANDLEMAP */

.hero-content-2 {
    display: flex;
    justify-content: center;
}
.hero-content-2  p{
    color: #00acee;
    font-family: rift, sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    font-weight: 500;
    max-width: 840px;
    text-transform: uppercase;
}

.video {
    height: 40vh;
}