/* =========================================================== */
/* !FOOTER */

/*.wrapperWide {

    background: black;
    height: 16rem;
}*/



.social-logos {
    display: flex;
    justify-content: space-between;
}

.social a:first-child .g-image.g-image--lazy.g-image--loaded{
    margin-left: 0;
}


.cp3-logo.g-image.g-image--lazy.g-image--loaded {
    margin-left: 0;
}

.social {
    margin-top: 2rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.terms {
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.terms ul a {
    
    color: #d8d8d8;
    font-family: arial;
    font-size: 12px;
    margin-left: 4rem;
    text-decoration: none;
}

.terms ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;

}

.container {
    padding-top: 3rem;
}

footer.footerContent {
    margin-top: 16rem;
    background: black;
}

