/* =========================================================== */
/* !HEADER */

#logo {
    display: flex;
    color: white;
    transition: 0.3s ease;
    opacity: 1;
    justify-content: space-between;
    align-items: center;
}

#main-header {
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
}
#twitterhastag.hidden {
    opacity: 0;
    display: block;
}

.header-wrapper.hideNavBar {

    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
}



.hideTranslation {
    display: none;
}

/*.hideTwitterButton {
    opacity: 0;
    display: none;
    
}*/

a.logo-container.hideTwitterButton {
    opacity: 0;
    z-index: -999;
}

a.logo-container.showTwitterButton {
    opacity: 1!important;
    z-index: 1;
    transition: 1s ease;
}
/*opacity: 1  !important;
    transition: 3s ease;*/

#main-header.show #header--tweet-cta{
    opacity: 1;
    margin-right: 7.2rem
}

.languageOption {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.selectedLanguage {
    text-decoration: underline !important;
}

a.logo-container.hideTwitterButton.showTwitterButton {
    width: 37%;
    /* height: 215px; */
    display: flex;
    height: 100%;
}

a.logo-container {
    width: 37%;
    /* height: 215px; */
    display: flex;
    
}

.position-container {
    display: flex;
    justify-content: flex-end;
}

.header-wrapper.showNavBar {

    background-color: #0e141c;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    transition: 1s ease;
}

/*@media screen and  (max-width: 480px) {
    #main-header > .inner {
        max-width: 860px;
        width: 860px;
        margin: 0 auto;
    }
}

#main-header > .inner {
    position: relative;
    width: 100%;
    padding: 0px 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/

.cta {
    width: 100%
}

#main-header #header--tweet-cta {
    opacity: 1;
    transition: 1s ease;
}   