@import '_fonts.css';
@import '_header.css';
@import '_happybirthdayvideo.css';
@import '_candlemap.css';
@import '_footer.css';


/* =========================================================== */
/* !GLOBAL */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*@font-face{
    font-family: "rift";
    src:url(../fonts/Rift-Bold.otf);
}

@font-face{
    font-family: "quat";
    src:url(../fonts/Quatro.woff);
}*/

html {
    font-size: 62.5%;
   
}

body {
    box-sizing: border-box;
    background-color: #0e141c;

}

.wrapper {
    width: 89%;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

.hero {
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 85vh;
    display: flex;
    align-items: center;
}

.inner-background{
    background-image: url('../images/background-image-2-v2.png');
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: right;
}
