@import '_fonts.css';
@import '_header.css';
@import '_happybirthdayvideo.css';
@import '_candlemap.css';
@import '_footer.css';


/* =========================================================== */
/* !GLOBAL */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
   
}

body {
    box-sizing: border-box;
    background-color: #0e141c;

}