@import '_fonts.css';
@import '_header.css';
@import '_happybirthdayvideo.css';
@import '_candlemap.css';
@import '_footer.css';


/* =========================================================== */
/* !GLOBAL */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*@font-face{
    font-family: "rift";
    src:url(../fonts/Rift-Bold.otf);
}

@font-face{
    font-family: "quat";
    src:url(../fonts/Quatro.woff);
}*/

html {
    font-size: 62.5%;
   
}

body {
    box-sizing: border-box;
    background-color: #0e141c;

}